<!DOCTYPE html>
<html>
<head>
  <title>Utopia</title>
  <%= stylesheet_link_tag    "utopia/application", :media => "all" %>
  <%= javascript_include_tag "utopia/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
